<html>
    <head>
        <title>Shoe Store</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Shoe Store command</h1>
            <p><a href='/brands'>Click here</a> to add brands.</p>
            <p><a href='/stores'>Click here</a> to add stores.</p>
        </div>
    </body>
</html>
