<html>
    <head>
        <title>Stores</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Stores</h1>

            <form action="/stores" method="post">
                <label for="name">New Store Name:</label>
                <input id="name" name="name" type="text" placeholder="Add a new store">
                <button type="submit">Add</button>
            </form>

            {% if stores is not empty %}
                <h3>Here are the available stores:</h3>
                <ul>
                    {% for store in stores %}
                        <li><a href="/store/{{ store.getId }}">
                            {{ store.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}


            <form action="/delete_stores" method="post">
                <button type="submit">Delete All Stores</button>
            </form>

            <form action="/">
                <button type="submit">Home</button>
            </form>


        </div>
    </body>
</html>
